pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

grayscale style (c) MY Sun <simonmysun@gmail.com>

*/
.hljs {
  color: #CCC;
  background: #000
}
.hljs-comment,
.hljs-quote {
  color: #888;
  font-style: italic
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #CCC;
  font-weight: bold
}
.hljs-number,
.hljs-literal {
  color: #888
}
.hljs-string,
.hljs-doctag,
.hljs-formula {
  color: #CCC;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEBAAAAABJaiyjAAAAEUlEQVQI12NQEmQAIkElIAIABNQAzSQraPMAAAAASUVORK5CYII=) repeat
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #fff;
  font-weight: bold
}
.hljs-subst {
  font-weight: normal
}
.hljs-title.class_,
.hljs-class .hljs-title,
.hljs-type,
.hljs-name {
  color: #CCC;
  font-weight: bold
}
.hljs-tag {
  color: #CCC
}
.hljs-regexp {
  color: #CCC;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAIBAAAAAAgYdxrAAAAAnRSTlMAD+Ys0KkAAAAnSURBVAjXJciBCQAwAMKwfuT/b/lA5zaEIEWj2F6zsVdZNQz79HsAONYjiN355F0AAAAASUVORK5CYII=) repeat
}
.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #fff;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFBAAAAABt9JQ4AAAAAnRSTlMAD+Ys0KkAAAAbSURBVAjXY/j/34Hh/5cPDP/9PzB8AdL+/x0AfGILxv5PxwYAAAAASUVORK5CYII=) repeat
}
.hljs-built_in {
  color: #fff;
  text-decoration: underline
}
.hljs-meta {
  color: #666;
  font-weight: bold
}
.hljs-deletion {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADBAAAAACyRtdfAAAADklEQVQI12NYwJDAkAAABKYBYaMuIM4AAAAASUVORK5CYII=) repeat
}
.hljs-addition {
  color: #fff;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAAAAAAACrTNAAAAF0lEQVQI12MQFFQUFGDAJJWAQIEBhywAZmIDyaRs4AgAAAAASUVORK5CYII=) repeat
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}