body {
  font-family: 'Hanken Grotesk', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Gamja Flower', sans-serif;
  font-size: 7rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 500;
}

p {
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 2rem;
}

pre {
  margin-top: 2rem;
  border: 1px solid black;
  white-space:normal;
  tab-size: 2;
  line-height: 1rem;
}

code {
  white-space: pre;
  font-family: 'Space Mono', monospace;
  font-size: small;
  font-variant-ligatures: none;
}

.main-container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto; 
}